
<div class="card bg-dark text-white">
    <img class="card-img" src="../images/acceso-restringido.jpg" alt="Card image">
    <div class="card-img-overlay">

        <h1 class="card-title text text-warning">Acceso Denegado</h1>

        <h5 class="card-title text text-danger">Ocurrio un Error</h5>

        <p class="card-text">Ocurrio un error mientras se ejecutaba la operación, No cuentas con los permisos necesarios.</p>
        <span class="card-text text text-info"></span>
    </div>
</div>