@{
    ViewBag.Title = "Vista sin datos";
    //Layout = "~/Views/Shared/_Layout.cshtml"; // Puedes ajustar el diseño según tus necesidades
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0 ">
                <div class="col-md-6">
                    <img src="../images/pets.png" class="img-fluid rounded-start" alt="Pets">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">No hay datos disponibles</h5>
                        <p class="card-text">No se encontraron datos para mostrar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
