@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card bg-dark text-white">
    <img class="card-img" src="../images/error500.png" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title text text-danger">Ocurrio un Error</h5>
        <p class="card-text">Ocurrio un error mientras se ejecutaba la operación. Intenta más tarde o contacta un Administrador.</p>
    </div>
</div>