@model SysPet.Models.InternamientosViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-6 offset-3">
    <h1 class="fw-normal mb-3 pb-3">Editar Internamiento</h1>

    <div>
        @Html.ActionLink("Ir a Internamientos", "Index", new {}, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-outline mb-4">
                    <label asp-for="FechaIngreso" class="control-label col-md-4"></label>
                    <input asp-for="FechaIngreso" class="form-control form-control-lg" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Medicamento" class="control-label col-md-4"></label>
                    <input asp-for="Medicamento" class="form-control form-control-lg" />
                    <span asp-validation-for="Medicamento" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Antecedentes" class="control-label col-md-4"></label>
                    <input asp-for="Antecedentes" class="form-control form-control-lg" />
                    <span asp-validation-for="Antecedentes" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Tratamiento" class="control-label col-md-4"></label>
                    <input asp-for="Tratamiento" class="form-control form-control-lg" />
                    <span asp-validation-for="Tratamiento" class="text-danger"></span>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
                <div class="form-outline mb-4 btn-groups">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block custom-tooltip">
                        <img src="../icons/floppy.svg" alt="Guardar">
                        <span class="custom-tooltip-text">Guardar</span>
                    </button>
                    <a class="btn btn-outline-danger btn-lg btn-block custom-tooltip" href="@Url.Action("Index", "Internment", new {})">
                        <img src="../icons/x-square.svg" alt="Cancelar">
                        <span class="custom-tooltip-text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
