html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/background.jpg');
    background-size:cover
}

.container-grid {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    gap: 0px 24px;
    grid-template-areas:
        "sidebar main main"
        "sidebar main main"
        "sidebar main main";
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
}

.main-grid {
    grid-area: main;
    margin: 16px;
}

.footer-grid {
    grid-area: 3 / 2 / 4 / 4;
    line-height: normal !important;
}


.btn-head {
    display: flex;
    justify-content: flex-end;
}

.btn-image {
    display: flex;
    padding: 12px;
    gap: 12px ;
    align-items: center;
}

.custom-tooltip {
    position: relative;
    text-decoration: none;
    color: #007bff;
}

.custom-tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip-text-detail {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip-text-delete {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip-text-cancel {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip-text-head {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 98%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip:hover .custom-tooltip-text,
.custom-tooltip:hover .custom-tooltip-text-head,
.custom-tooltip:hover .custom-tooltip-text-detail,
.custom-tooltip:hover .custom-tooltip-text-delete
{
    visibility: visible;
    opacity: 1;
}

.btn-groups {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.btn-groups-delete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.btn-groups-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.btn-custom-color-delete{
    color:red;
}

.btn-custom-color-info {
    color: #0dcaf0;
}

.btn-custom-color-primary {
    color: #007bff;
}

.btn-custom-color-success {
    color: #198754;
}

.btn-custom-color-warning {
    color: #ffc107;
}

.btn-custom-color-delete:hover,
.btn-custom-color-info:hover,
.btn-custom-color-primary:hover,
.btn-custom-color-success:hover,
.btn-custom-color-warning:hover {
    color: white;
}

.btn-custom-f {
    display: flex;
    align-items: center;
    gap: 12px;
}


.custom-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.custom-body 
{
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
}

.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.btn-login {
    color: #0dcaf0;
}

.btn-login:hover{
    color:white;
}

.custom-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.img-custom{
    height:350px;
}

.box-shadow {
    box-shadow: 12px 16px 12px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 15px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 15px 13px 4px rgba(0,0,0,0.75);
}

.nav-home {
    display: flex;
    align-items: center;
    gap: 12px;
}

.log {
    background-image: url('../images/bg-2.jpg');
    background-size:cover;
}

.d-g{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:12px;
}

.d-f-btn {
    display: flex;
    justify-content: space-between;
}

.custom-form-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.table-head-sales {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}

.nav-link-custom {
    color: black;
    background-color: #0d6efd;
}

.nav-link-custom:hover{
    color: white !important;
    background-color: #0d6efd;
}

.badge-custom-success {
    background-color: #20c997;
    color: white;
    width: 80px;
    border-radius: 20px;
    text-align: center;
}

.badge-custom-primary {
    background-color: #0d6efd;
    color: white;
    width: 80px;
    border-radius: 20px;
    text-align: center;
}

.badge-custom-danger {
    background-color: #dc3545;
    color: white;
    width: 80px;
    border-radius: 20px;
    text-align: center;
}

.badge-custom-info {
    background-color: #0dcaf0;
    color: white;
    width: 80px;
    border-radius: 20px;
    text-align: center;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 25px;
}

    .toggle-switch .toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e9ecef;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
        border: 1px solid #f3f3f3;
    }

        .toggle-switch .toggle-slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: #ffffff;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

    .toggle-switch input {
        visibility: hidden;
    }

        .toggle-switch input:checked + .toggle-slider {
            background-color: #844fc1;
        }

            .toggle-switch input:checked + .toggle-slider:before {
                -webkit-transform: translateX(23px);
                -ms-transform: translateX(23px);
                transform: translateX(23px);
            }

    .toggle-switch.toggle-switch-primary input:checked + .toggle-slider {
        background-color: #844fc1;
    }

    .toggle-switch.toggle-switch-secondary input:checked + .toggle-slider {
        background-color: #6c7293;
    }

    .toggle-switch.toggle-switch-success input:checked + .toggle-slider {
        background-color: #21bf06;
    }

    .toggle-switch.toggle-switch-info input:checked + .toggle-slider {
        background-color: #3b86d1;
    }

    .toggle-switch.toggle-switch-warning input:checked + .toggle-slider {
        background-color: #f39915;
    }

    .toggle-switch.toggle-switch-danger input:checked + .toggle-slider {
        background-color: #dc3545;
    }

    .toggle-switch.toggle-switch-light input:checked + .toggle-slider {
        background-color: #f8f9fa;
    }

    .toggle-switch.toggle-switch-dark input:checked + .toggle-slider {
        background-color: #282f3a;
    }

.chek-disabled {
    background-color: #198754 !important;
    border-color: white !important;
}

