@model SysPet.Models.PersonasViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="col-md-6 offset-3 fw-normal mb-3 pb-3">Agregar Cliente</h1>

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-outline mb-4">
                <label asp-for="Nombre" class="control-label col-md-4"></label>
                <input asp-for="Nombre" class="form-control form-control-lg" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="Apellidos" class="control-label col-md-4"></label>
                <input asp-for="Apellidos" class="form-control form-control-lg" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="Ciudad" class="control-label col-md-4"></label>
                <input asp-for="Ciudad" class="form-control form-control-lg" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="CodigoPostal" class="control-label col-md-4"></label>
                <input asp-for="CodigoPostal" class="form-control form-control-lg" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="Telefono" class="control-label col-md-4"></label>
                <input asp-for="Telefono" class="form-control form-control-lg" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4 btn-groups">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block custom-tooltip">
                    <img src="../icons/floppy.svg" alt="Guardar">
                    <span class="custom-tooltip-text">Guardar</span>
                </button>
                <a class="btn btn-outline-danger btn-lg btn-block custom-tooltip" href="@Url.Action("Index", "Person", new {})">
                    <img src="../icons/x-square.svg" alt="Cancelar">
                    <span class="custom-tooltip-text">Cancelar</span>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

