@model SysPet.Models.HistorialesViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-6 offset-3">
    <h1 class="fw-normal mb-3 pb-3">Editar Historial</h1>

    <div>
        @Html.ActionLink("Ir a Historiales", "Index", new {}, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-outline mb-4">
                    <label asp-for="FechaVisita" class="control-label col-md-4"></label>
                    <input asp-for="FechaVisita" class="form-control" />
                    <span asp-validation-for="FechaVisita" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Motivo" class="control-label col-md-4"></label>
                    <input asp-for="Motivo" class="form-control" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Diagnostico" class="control-label col-md-4"></label>
                    <input asp-for="Diagnostico" class="form-control" />
                    <span asp-validation-for="Diagnostico" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4 btn-groups">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block custom-tooltip">
                        <img src="../icons/floppy.svg" alt="Guardar">
                        <span class="custom-tooltip-text">Guardar</span>
                    </button>
                    <a class="btn btn-outline-danger btn-lg btn-block custom-tooltip" href="@Url.Action("Index", "History", new {})">
                        <img src="../icons/x-square.svg" alt="Cancelar">
                        <span class="custom-tooltip-text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
