@model SysPet.Models.HistorialesViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-6 offset-3">
    <h1>Editar Historial</h1>

    <div>
        @Html.ActionLink("Ir a Historiales", "Index", new {}, new { @class = "btn btn-primary" })
    </div>

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FechaVisita" class="control-label"></label>
                    <input asp-for="FechaVisita" class="form-control" />
                    <span asp-validation-for="FechaVisita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Motivo" class="control-label"></label>
                    <input asp-for="Motivo" class="form-control" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diagnostico" class="control-label"></label>
                    <input asp-for="Diagnostico" class="form-control" />
                    <span asp-validation-for="Diagnostico" class="text-danger"></span>
                </div>
                <div class="form-group" style="padding-top: 16px;">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", new {}, new { @class = "btn btn-danger" })
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
