@model SysPet.Models.ProductosViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="col-md-6 offset-3">
    <h1 class="fw-normal mb-3 pb-3">Editar Producto</h1>

    <div>
        @Html.ActionLink("Ir a Productos", "Index", new {}, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-outline mb-4">
                    <label asp-for="Nombre" class="control-label col-md-4"></label>
                    <input asp-for="Nombre" class="form-control form-control-lg" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="FechaIngreso" class="control-label col-md-4"></label>
                    <input asp-for="FechaIngreso" class="form-control form-control-lg" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Proveedor" class="control-label col-md-4"></label>
                    <input asp-for="Proveedor" class="form-control form-control-lg" />
                    <span asp-validation-for="Proveedor" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Cantidad" class="control-label col-md-4"></label>
                    <input asp-for="Cantidad" class="form-control form-control-lg" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Stock" class="control-label col-md-4"></label>
                    <input asp-for="Stock" class="form-control form-control-lg" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="PrecioUnitario" class="control-label col-md-4"></label>
                    <input asp-for="PrecioUnitario" class="form-control form-control-lg" />
                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="PrecioSugerido" class="control-label col-md-4"></label>
                    <input asp-for="PrecioSugerido" class="form-control form-control-lg" />
                    <span asp-validation-for="PrecioSugerido" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Descripcion" class="control-label col-md-4"></label>
                    <input asp-for="Descripcion" class="form-control form-control-lg" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="FechaVencimiento" class="control-label col-md-4"></label>
                    <input asp-for="FechaVencimiento" class="form-control form-control-lg" />
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
                <div class="form-outline mb-4 btn-groups">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block custom-tooltip">
                        <img src="../icons/floppy.svg" alt="Guardar">
                        <span class="custom-tooltip-text">Guardar</span>
                    </button>
                    <a class="btn btn-outline-danger btn-lg btn-block custom-tooltip" href="@Url.Action("Index", "Product", new {})">
                        <img src="../icons/x-square.svg" alt="Cancelar">
                        <span class="custom-tooltip-text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
